body { font-family: Helvetica, sans-serif; background: #222; color: #eee; margin: 20px auto; padding: 0 20px; max-width: 980px; }
img { display: block; max-width: 100%; }
#cred { font-size: .7em; color: #aaa; }
a { color: #fff; }


